<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<title>Proof</title>
<link rel="stylesheet" href="/media/index.css" type="text/css"/>
<script type="text/javascript" src="/media/jquery-1.2.6.js"></script>
<script type="text/javascript">
  {% block code %}
  {% endblock %}
</script>
</head>

<body>
<div class="header">
    <h1><a href="/">CheQED</a></h1>
</div>

<div class="toolbar">
  <a href="{% url proof.views.index %}">Proofs</a> 
  . 
  <a href="{% url proof.views.definitions %}">Definitions</a> 
  . 
  <a href="{% url proof.views.rules %}">Rules</a> 
  . 
  <a href="/parser/">Parser</a>

</div>

<div class="container">
    <div class="content">
        {% block content %}Content!{% endblock %}
    </div>
</div>
</body>
</html>
