{% extends "base.html" %}

{% block content %}
<h1>Parser</h1>

<form method="get">
    <p>Enter terms to be parsed, one per line.</p>
    <br/>
    <textarea rows=16 cols=96 name="terms">{{terms}}</textarea>
    <br/>
    <input type="submit" name="parse" value="Parse"/>
</form>

{% if results %}
<h2>Results</h2>
{% for term, result, pretty in results %}
<hr/>
<b>Original</b>: <pre>{{term}}</pre>
<b>Result</b>: <pre>{{result}}</pre>
<b>Pretty-printed</b>: <pre>{{pretty}}</pre>
{% endfor %}
{% endif %}

{% endblock %}
